AccountingTransactionService.Core/Service References/RequisitesResolverService/OperatorRequisitesResolverService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OperatorRequisitesResolver.App_Code.Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OperatorRequisitesResolver.App_Code.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperatorRequisite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankBIK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCorAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KPP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorId" type="xs:long" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatorRequisite" nillable="true" type="tns:OperatorRequisite" />
</xs:schema>