AccountingTransactionService.Core/Service References/RequisitesResolverService/OperatorRequisitesResolverService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.7.72:50002/OperatorRequisitesResolverService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OperatorRequisitesResolver.App_Code.Communication" />
  <xs:element name="GetOperatorRequisite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorId" type="xs:long" />
        <xs:element minOccurs="0" name="paramsString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatorRequisiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OperatorRequisitesResolver.App_Code.Communication" minOccurs="0" name="GetOperatorRequisiteResult" nillable="true" type="q1:OperatorRequisite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>